body{
    background-image: url('img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* opacity: 0.7; */
    font-family: 'Nunito Sans', sans-serif !important;
}
.container{
    width: 90%;
    margin: 150px auto;
    position:absolute;
    left:100px;
    align-items: center;
}
.details{
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .3);
    color: white;
}
.details p{
    text-align:center;
    font-size: 22px;
}
.details h1{
    text-align:center;
    font-size: 3.6rem;
    color: white;
}
.btn{
    font-size: 20px;
    position: relative;
    left: 40%;
    margin: 14px ;
}
.r{
    text-decoration: none;
    color:white;
}
.r:hover{
 color: white;
}
